<% favorites.each do |post| %>
<li class="favorite-post<%=post.id%> favorite-post">
  <div class="favorite-content">
    <%= link_to post.title, post_path(post)%>
    |
    <%= link_to "remove", favorite_path(post), method: :delete, remote: true %>
    <p><%= truncate post.body, length: 80, separator: ' ' %> </p>
  </div>
</li>
<% end %>
