<% if user_signed_in? %>
  <div class="favorite-link-<%=post.id%>">
    <% if post.favorites.find_by(user: current_user).blank? %>
      <%= link_to "Add to favorites", favorites_path(id: post.id), method: :post, remote: true %>
    <% else %>
      <%= link_to "Remove from favorites", favorite_path(post), method: :delete, remote: true %>
    <% end %>
  </div>
<% end %>
