<%= form_for [@post, @comment], remote: true do |f| %>
  <%= render "shared/errors", object: @comment %>

<div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
</div>

<div>
    <%= f.submit "Save", class: "btn btn-outline-primary" %>
</div>

<% end %>
