<h1>Profile</h1>

  <%= image_tag(@user.avatar.url(:thumb), class: "img-thumbnail") if @user.avatar? %>

  <div>
    <h2>Email:</h2>
    <%= @user.email %>
  </div>

  <div>
    <h2>Username:</h2>
    <%= @user.username %>
  </div>

  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_registration_path, class: "btn btn-outline-primary" %>
  <% end %>
