<div class="rating">
  <h3>You rated this user by: <span><%= rating.value %></span> </h3>
  <%= link_to "remove rating", user_rating_path(user, rating), method: :delete, remote: true, class: "btn btn-secondary" %>
</div>
