<form class="new_rating" id="new_rating" action="/users/{{user_id}}/ratings" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" value="✓" type="hidden">
  <div class="rating-form form-group">
    <select name="rating[value]" id="rating_value">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option></select>
  <input name="commit" value="Rate user" data-disable-with="Rate user" type="submit">
  </div>
</form>
