<div class="rating">
  <h3>You rated this user by: <span>{{rating.value}}</span> </h3>
  <a href="/users/{{user_id}}/ratings/{{rating.id}}" class="btn btn-secondary remove" data-remote="true" data-method="delete">remove rating</a>
</div>
