<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <time><%= post.created_at.to_date %></time>
    </small>
  </section>
  <section class="post-body clearfix">
    <%= image_tag(post.image.url(:thumb), class: "img-thumbnail thumb") if post.image? %>
    <%= truncate(post.body, length: 160, separator: ' ') %>
  </section>
</article>
